Django==5.0.0
Pillow==10.1.0
onnxruntime==1.24.4
opencv-python==4.11.0.86
matplotlib==3.10.1
numpy==1.26.4
h5py==3.10.0
gunicorn==21.2.0
whitenoise==6.6.0
tf2onnx==1.16.1
onnx==1.17.0
tensorflow==2.15.0
